.table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; 
    padding: 10px 0;
}
.no-todos {
    padding: 20px;
    font-style: italic;
}

span:hover{
    cursor: pointer;
}

.button-container{
    display: flex;
    align-items: center;
}

.editbtn{
    margin-right: 10px;
}

.no-todos {
    padding: 20px;
    font-style: italic;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #777;
    text-align: center;
    width: 100%; 
    margin-top: 20px;
}